<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.username }} profile</title>
</head>
<body>
    <h1>{{ object.username }}</h1>
    <ul>
        <li>Фамилия имя: {{ object.first_name }} {{ object.last_name }}</li>
        {% if object.email %}
            <li>Email: {{ object.email }}</li>
        {% endif %}
        {% if object.bitrh_date %}
            <li>Дата рождения: {{ object.birth_date }}</li>
        {% endif %}
        {% if object.passport_number is not None%}
            <li>Номер паспорта: {{ object.passport_number }}</li>
        {% endif %}
    </ul>

</body>
</html>