{% extends 'aviasales/extend/navbar.html' %}
{% block title %}
    Reservation list
{% endblock %}

{% block body %}
    {% if not object_list %}
        <p>No flights you can reserve</p>
    {% else %}
        <table>
            <tr>
                <th>flight number</th>
                <th>airline</th>
                <th>departure place</th>
                <th>arrival place</th>
                <th>departure time</th>
                <th>arrival time</th>
                <th>gate</th>
                <th>reserve</th>
            </tr>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.flight_number }}</td>
                    <td>{{ obj.airline }}</td>
                    <td>{{ obj.departure_place }}</td>
                    <td>{{ obj.arrival_place }}</td>
                    <td>{{ obj.departure_time }}</td>
                    <td>{{ obj.arrival_time }}</td>
                    <td>{{ obj.gate }}</td>
                    <td><a href="{% url 'aviasales:userflight_reservation_form' flight_pk=obj.pk %}">reserve</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}




