<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Info</title>
</head>
<body>
<h2>Information about {{ object.pk }}</h2>
<ul>
    <li>name: {{ object.name }}</li>
    <li>surname: {{ object.surname }}</li>
    {% if object.birth_date is not None %}
        <li>birthe date: {{ object.birth_date }}</li>
    {% endif %}
    <li>Cars:
        <ul>
            {% for car in object.cars.all %}
                <li>{{ car.serial_number }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>
</body>
</html>